body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6, form, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none
}
.shop-detail {
    width: 100%;
    height: auto;
    background: #f5f5f5;
}
.detail-top {
    width: 100%;
}
.index-top-user {
    width: 1190px;
    height: 36px;
    margin: 0 auto;
}
.user-address {
    float: left;
    line-height: 36px;
}
.user-detail{
    float: right;
    line-height: 36px;
}
.detail-link {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}
.line:after {
    display: inline-block;
    height: 16px;
    content: '';
    border-right: 1px solid #666;
    position: absolute;
    right: -2px;
    top: 10px;
}
.index-top-search {
    width: 100%;
    background: #fff;
}
.search-content {
    width: 1190px;
    padding: 25px 0;
    overflow: hidden;
    margin: 0 auto;
}
.search-icon {
    display: block;
    width: 142px;
    height: 58px;
    margin: 0 22px;
    float: left;
}
.search-detail {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
}
.search-detail-input {
    display: inline-block;
    width: 500px;
    height: 36px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    padding: 0 20px;
    outline: 0;
    overflow: hidden;
}
.search-detail-btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    background: #ff4200;
    cursor: pointer;
    border: none;
    text-decoration: none;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: -74px;
    top: 0;
    z-index: 98;
}


.detail-crumb {
    width: 100%;
    height: 52px;
}
.detail-crumb-detail {
    width: 1190px;
    font-size: 12px;
    color: #6b6b6b;
    line-height: 52px;
    background: #f5f5f5;
    margin: 0 auto;
}
.detail-content {
    width: 1190px;
    min-height: 1000px;
    margin: 0 auto;
    background: #fff;
}
.detail-content-info {
    padding: 15px;
    overflow: hidden;
}
.info-img {
    width: 600px;
    height: 400px;
    display: block;
    float: left;
}
.info-main {
    width: 540px;
    padding-left: 20px;
    float: right;
}
.info-main .name {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-main .description {
    height: 250px;
    font-size: 16px;
    line-height: 26px;
    color: #666;
    overflow: hidden;
    margin-top: 15px;
}
.info-main .price-num {
    width: 100%;
    margin-top: 15px;
}
.info-main .price-num .price,
.info-main .price-num .num {
    font-size: 16px;
    line-height: 26px;
    color: #666;
}
.info-main .price-num .price {
    float: left;
}
.info-main .price-num .num {
    float: right;
}
.info-main .shop-buy {
    height: 50px;
    margin-top: 10px;
}
.info-main .shop-buy .shop-btn,
.info-main .shop-buy .buy-btn {
    display: inline-block;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #53bfe6;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 10px;
    background: #53bfe6;
}
.info-main .shop-buy .shop-btn {
    float: left;
}
.info-main .shop-buy .buy-btn {
    float: right;
}

.detail-content-head {
    font-size: 24px;
    color: #333;
    line-height: 36px;
    padding: 10px 15px;
}
.detail-content-business {
    padding: 15px;
}
.business-img {
    display: block;
    width: 98px;
    height: 98px;
    border: 1px solid #ccc;
    border-radius: 50px;
    float: left;
}
.business-detail {
    width: 1040px;
    height: 100px;
    margin-left: 20px;
    float: left;
}
.business-detail .name {
    font-size: 18px;
    color: #333;
    line-height: 30px;
}
.business-detail .description {
    height: 48px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    overflow: hidden;
}
.business-detail .address {
    font-size: 16px;
    color: #666;
    line-height: 22px;
}

.detail-content-reply {
    padding: 15px;
}
.reply-ul {
    width: 100%;
    overflow: hidden;
}
.reply-list {
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #999;
}
.reply-list-info,
.reply-list-date {
    color: #333;
    line-height: 24px;
}
.reply-list-info {
    font-size: 18px;
}
.reply-list-date {
    font-size: 12px;
    text-align: right;
}

.index-footer {
    width: 100%;
    height: 150px;
    background: #333;
}
.index-footer-ul {
    width: 1190px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}
.index-footer-item {
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
    float: left;
    position: relative;
}
.index-footer-item:after {
    position: absolute;
    right: 0;
    top: 13px;
    display: inline-block;
    content: '';
    width: 1px;
    height: 24px;
    background: #495467;
}
.index-footer-info {
    font-size: 12px;
    color: #78808d;
    width: 1190px;
    margin: 45px auto;
}

.shop-buy-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
}
.dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width: 530px;
    height: auto;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 15px;
    background: #fff;
    z-index: 100;
}
.content-head {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    margin: 10px 0 20px;
    position: relative;
}
.content-head .title {
    color: #333;
    font-size: 22px;
}
.content-head .close-dialog {
    font-size: 22px;
    position: absolute;
    right: 0;
    top: -15px;
    font-weight: normal;
    cursor: pointer;
}
.shop-buy-dialog-form label{
    display: block;
    margin-bottom: 15px;
}
.shop-buy-dialog-form .label-text {
    display: inline-block;
    width: 80px;
    margin-right: 15px;
    font-size: 16px;
}
.shop-buy-dialog-form input {
    display: inline-block;
    width: 400px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    outline: 0;
}
.shop-buy-dialog-sure {
    text-align: right;
}
.shop-buy-dialog-sure .sure-buy-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #53bfe6;
    border-radius: 4px;
    background: #53bfe6;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/* ===== 清除浮动 ===== */
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}