<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表页</title>
    <link rel="stylesheet" href="../css/shop-list/shop-list.css">
</head>
<body>
    <div class="shop-list">
        <div class="shop-list-top">
            <div class="index-top-user clearfix">
                <p class="user-address">
                    北京 |
                    <a class="j-back-index" href="###">首页</a>
                </p>
                <p class="user-detail">
                    <span class="detail-link">
                        <a href="/swiftbuyWeb/views/shop-list.html?search=&goodsList=1">
                            购物车
                        </a>
                    </span>
                </p>
            </div>
            <div class="index-top-search">
                <div class="search-content clearfix">
                    <img class="search-icon" src="https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png" alt="">
                    <p class="search-detail clearfix">
                        <input class="search-detail-input" name="list-search" type="text" placeholder="请输入搜索内容">
                        <a class="search-detail-btn j-list-search-btn" href="javascript:;">搜索</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="shop-list-crumb">
            <p class="shop-list-crumb-detail">首页 > 搜索列表页</p>
        </div>
        <div class="shop-list-content">
            <div class="list-content-pkg">
                <h3 class="shop-list-content-title">列表数据</h3>
                <ul class="list-content-detail j-list-content-detail">
                    <li class="shop-list-item clearfix">
                        <img class="shop-list-item-img" src="https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png" alt="">
                        <div class="shop-list-item-info">
                            <p class="name">商品名称</p>
                            <p class="description">商品描述</p>
                            <p class="price-num clearfix">
                                <span class="price">价格</span>
                                <span class="num">库存</span>
                            </p>
                        </div>
                    </li>
                    <li class="shop-list-item">
                        <img class="shop-list-item-img" src="https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png" alt="">
                        <div class="shop-list-item-info">
                            <p class="name">商品名称</p>
                            <p class="description">商品描述</p>
                            <p class="price-num">
                                <span class="price">价格</span>
                                <span class="num">库存</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index-footer">
            <ul class="index-footer-ul">
                <li class="index-footer-item">关于我们</li>
                <li class="index-footer-item">联系方式</li>
                <li class="index-footer-item">招聘信息</li>
            </ul>
            <p class="index-footer-info">
                互联网违法和不良信息举报电话：666666 邮箱：163@swiftbuy.com 信用北京 国家企业信用信息公示系统(北京)
            </p>
        </div>
    </div>

<script src="../js/jquery-1.7.2.js"></script>
<script src="../js/shop-list/shop-list.js"></script>
</body>
</html>